@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;600&display=swap');

.thank-you-section {
    background-image: url('https://res.cloudinary.com/dt0mcvcq3/image/upload/v1729351396/Chaperonw/Leafy_Background_rvoqts.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thank-you-text {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.5px;
    line-height: 1.4;
    animation: fadeInUp 1.5s ease-in-out;
    @media (max-width: 767px) {
        font-size: 1rem;
    }
}

@keyframes fadeInUp {
0% {
    opacity: 0;
    transform: translateY(30px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

.back-to-menu-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 10px 25px;
    font-size: 1.2rem;
    margin: 30px auto;
    display: block;
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1.2px;
    border-radius: 50px;
    text-transform: uppercase;
    transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
    @media (max-width: 767px) {
        font-size: 0.8rem;
    }
}

.back-to-menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.back-to-menu-btn:active {
    transform: translateY(0);
    transition: transform 0.2s ease;
}