@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.header-logo-container {
    display: flex;
    align-items: center;
}

.home-logo {
    @media (max-width: 1024px) {
        height: 45px;
        width: 45px;
    }
}

.header-logo-text {
    font-size: 25px;
    font-weight: 600;
    color: #0F4811;
    margin: 0px 0px 0px 15px;
    @media (max-width: 767px) {
        display: none;
    }
    @media (max-width: 1440px) {
        font-size: 16px;
    }
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    font-family: Poppins, sans-serif;
    @media (max-width: 767px) {
        padding: 10px 15px;
        width: 100%;
    }
    @media (max-width: 1440px) {
        padding: 10px 20px;
    }
}

.header-menu-options {
    display: flex;
    padding: 0px;
    align-items: center;
    @media (max-width: 1024px) {
        display: none;
    }
}

.header-menu-item {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-right: 32px;
    transition: all 0.3s ease;
    cursor: pointer;
    @media (max-width: 767px) {
        margin: 6px 0px;
    }
    @media (max-width: 1024px) {
        font-size: 14px;
        margin: 10px 0px;
    }
}

.header-menu-item:hover {
    transform: scale(1.03);
}

.profile-cart-container {
    display: flex;
    align-items: flex-end;
}

.header-profile-or-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    transition: transfrom 0.3s ease;
}

.header-profile-or-cart-container:hover {
    transform: scale(1.05);
}

.header-profile-or-cart-para {
    font-size:  12px;
    margin: 5px;
    font-weight: 500;
    @media (max-width: 767px) {
        display: none;
    }
}

.header-icon {
    font-size: 35px;
    @media (max-width: 1024px) {
        font-size: 28px;
    }
}



.cart-items-number {
    background-color: #F3A939;
    color: black;
    border-radius: 50%;
    width:15px;
    height: 15px;
    align-self: flex-end;
    margin: 0px;
    font-size: 10px;
    margin-left: 10px;
    padding-left: 5px;
    box-sizing: border-box;
}

.logo-link {
    text-decoration: none;
}

.hamburger-button {
    background-color: transparent;
    border-style: none;
    transition: transform 0.3s ease;
    @media (min-width: 768px) {
        align-self: center;
    }
    @media (min-width: 1024px) {
        display: none;
    }
}

.hamburger-button:hover {
    transform: scale(1.05);
}

.hamburger-icon {
    font-size: 25px;
    @media (min-width: 768px) 
    {
        margin-bottom: 10px;
    }
}

.md-device-navbar {
    @media (min-width: 1440px) {
        display: none;
    }
}