@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.modal-plant-img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #2f4f4f;;
}

.modal-plant-name {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #165315;
    margin-top: 30px;
}

.modal-details-confirm-btn {
  background-color: #5c6bc0; 
  color: #ffffff;
  border: 2px solid #5c6bc0;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-details-confirm-btn:hover {
    transform: scale(1.05);
    background-color: #3949ab;
}

.modal-close-btn-container {
    
}

.modal-close-btn {
    background-color: transparent;
    border-style: none;
    display: block;
    margin-left: auto;
    transition: transform 0.3s ease;    
}

.modal-close-btn:hover {
    transform: scale(1.2);
}

.modal-close-icon {
    font-size: 30px;
}

.modal-bg {
    background-color: white; 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 450px;
    height: 660px;
    font-family: Poppins, sans-serif;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.ellipse {
    position: absolute;
    background-color: #F0FFE5;
    border-radius: 50%; 
    z-index: -1;
}

.top-ellipse {
    width: 432px;
    height: 330px;
    right: -250px;
    transform: rotate(134deg);
}

.bottom-ellipse {
    width: 467px;
    height: 292px;
    left: -280px;
    bottom: -130px;
    transform: rotate(134deg)
}

.modal-heading {
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

.congratulations-text {
    color: #165315;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px;
}

.modal-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0px;
}

.modal-price-text {
    color: #165315;
    font-weight: 400;
    font-size: 16px;
    margin: 25px 0px;
    padding: 0px 30px
}

.modal2-thank-you-text {
    color: #165315;
    font-weight: 400;
    font-size: 16px;
    margin: 25px 0px;
    padding: 0px 30px;
}

.continue-shopping-btn {
    background-color: #165315;
    border-style: none;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    color: white;
}

.horizontal-line {
    margin: 5px;
}